/**** Resets & Base Styles ****/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: Sansita, serif;
}

p, li  {
    font-size: small;
}

/*.container {*/
/*    padding: 0 !important;*/
/*}*/

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 40px;
}

span {
    margin: 2px;
}

.ftr {
    padding: 1.8rem;
}

.wrapper {
    position: relative;
    min-height: 120%;
}
/*** End Base Styles ***/

/*** Navbar Styling ***/
.navbar-brand {
    color: floralwhite;
    font-family: Sansita, serif;
    font-size: 42px;
}

.nav-list {
    position: relative;
}

.nav-link{
    font-size: 1.5rem;
    margin-right: 0.75rem;
}
/*** End Navbar ***/

/*** Cards / Data Layout ***/
.container .books .row {
    margin-bottom: 4rem !important;
}

.books {
    padding: 1.6rem;
    position: relative;
}

.publisher {
    padding: 1.6rem;
    position: relative;
}

.delete-book {
    margin-top: 2rem;
}

#book-delete-warning,
#book-edit-info {
    font-size: 1.2rem;
    font-weight: 600;
}
 /*** End Data Layout ***/

/*** Form Styles ***/
.form {
    height: 60%;
    width:80%;
    padding: 0.5rem;
    position: relative;
    /*left: 48px;*/
}

.form-group {
    width: 60%;
}
/*** End Forms ***/

/*** Message Styles ***/
#login-text {
    text-decoration: none;
    pointer-events: none;
}

#error404 {
    font-size: 3rem;
    margin-top: 3rem;
}
/*** End Messages ***/

/*** Component Styles ***/
.btn {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

span.label.label-warning {
    background: red;
    padding: 0.3rem 0.5rem;
    border: 1px solid red;
    border-radius: 0.25rem;
    text-decoration: none;
}

span.label.label-info {
    background: #007bff;
    padding: 0.3rem 0.5rem;
    border: 1px solid #007bff;
    border-radius: 0.25rem;
    text-decoration: none;
}

span.label.label-success {
    background: forestgreen;
    padding: 0.3rem 0.5rem;
    border: 1px solid forestgreen;
    border-radius: 0.25rem;
    text-decoration: none;
}

span.label.label-primary {
    background: darkslateblue;
    padding: 0.3rem 0.5rem;
    border: 1px solid darkslateblue;
    border-radius: 0.25rem;
    text-decoration: none;
}
/*** End Comp Styles ***/